// Example of project-name.scss
// Define variables to override default ones
$primary-color: #303742;
//$dark-color: #3e396b;

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

// Utils
body {
  background-color: #eaeaea;
}

// .padding-top-bottom-medium {
//   padding: 25px 0;
// }
// .padding-top-bottom-large {
//   padding: 50px 0;
// }

img {
  max-width: 100%;
}

pre[class*="language-"] {
  margin-bottom: 1.2rem;
}

.text-center {
  text-align: center;
}

.card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: 100%;

  a {
    text-decoration: none;
    transition: all 0.3s ease;

    // &:hover {
    //   color: $gray-color-light;
    // }
  }
}

// App
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

// Header
.header {
  background-color: #3b4351;
  padding: 1rem 0;
  margin-bottom: 72px;

  a {
    color: #bcc3ce;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: #fff;
    }
  }

  > div {
    align-items: center;

    .logo {
      border: 2px solid #bcc3ce;
      padding: 0 12px;
      font-size: 1.2rem;
    }

    nav {
      margin-left: auto;

      a {
        margin: 0 12px;
      }
    }
  }
}

// Footer
.footer {
  background-color: #3b4351;
  color: #bcc3ce;
  padding: 1rem 0;
  margin-top: 72px;

  > div {
    align-items: center;
    justify-content: space-between;

    .logo {
      border: 2px solid #bcc3ce;
      padding: 0 12px;
      font-size: 1rem;
    }

    p {
      margin-bottom: 0;
    }

    svg {
      fill: #bcc3ce;
      width: 21px;
      height: 21px;
      margin-left: 8px;
      margin: 8px 0 0 8px;
      transition: all 0.2s ease;

      &:hover {
        fill: #fff;
      }
    }
  }
}

// Paginator
.paginator {
  padding: 30px 0;

  .pagination {
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
    }
  }
}
